:root {
  --size-sm: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --size-md: clamp(1rem, 1.1rem + 0.5vw, 2rem);
  --site-gutter: clamp(16px, -76.4px + 19.25vw, 170px);
  --image-size: clamp(50px, 150px, 200px);
  --font: Arial, Helvetica, sans-serif;
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-weight: 500;
  --color: black;
  --border: 0.5px solid black;
  --border-blue: 0.5px solid blue;
  --grid-gutter: 10px; /* Adjust gutter size */
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font);

  font-size: var(--size-sm);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: antialiased;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* grid */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'form form form form form form form form form form form form'
    'results results results results results results results results results results results results';
  /* gap: var(--grid-gutter); */
  height: 100vh;
}

.form-container {
  grid-column: span 12;
  grid-area: 'form';
  padding: 0.5rem;
  height: auto;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.results-container {
  grid-column: span 12;
  grid-area: 'results';
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1rem;

  /* has to be 100% for html2css to work?*/
  height: 100%;
}

.results-container img {
  /* height: 150px; */
  height: 20vh;
  width: auto;
  display: block;
}

.results-container img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

/* form elements */

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.form-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#titleHeader {
  font-weight: 1000;
  font-size: var(--size-md);
  font-family: var(--system-ui);
  text-align: right; /* Aligns the text to the right */

  margin-left: auto;
  color: black;
}

input[type='text'],
input[type='number'],
button {
  font-family: var(--system-ui);
  font-size: var(--size-sm);
}
input[type='text'],
input[type='number'] {
  background-color: white;
  border: 0;
  padding: 0.2rem;
}

input[type='text']:hover,
input[type='number']:hover {
  background-color: white;
  outline: 2px solid gainsboro;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: 2px solid deepskyblue;
}

#searchButton,
#clear,
#capture-button,
#help {
  color: var(--color);
  font-weight: 1000;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.5rem;
  font-family: var(--font);
  font-size: var(--size-sm);
}

#searchButton:hover,
#clear:hover,
#capture-button:hover,
#help:hover {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 2rem;
  cursor: pointer;
}

input::placeholder {
  font-weight: 500;
  font-style: italic;
  color: dodgerblue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: var(--color);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: var(--system-ui);
  padding: 1rem;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border: 5px solid black;
  width: 40%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.modal-content ul {
  padding-inline-start: 0px;
}

.modal-content li {
  margin-bottom: 1rem;
  list-style: square;
}

h2 {
  margin-top: 3rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  display: none;
  width: 30%;
  height: 30%;
  border: 5px solid #000000;
  animation: loader 2s infinite ease;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Ipad */
/* Between 700px and 1000px */
/* @media (700px <= width <= 1000px) {
} */

/* Iphone */
/* Less than or equal to 700px */
@media (width <= 700px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    width: 100%; /* Ensures the form takes full width */
  }

  .form-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  #titleHeader {
    font-weight: 1000;
    color: black;
    text-align: left;

    margin-left: 0;
  }

  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  #buttons {
    display: flex;
    flex-direction: row;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border: 5px solid black;
    width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
