:root {
  --size-sm: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --size-md: clamp(1.125rem, 1.1rem + 0.5vw, 1.25rem);
  --site-gutter: clamp(16px, -76.4px + 19.25vw, 170px);
  --font: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-weight: 400;
  --color: black;
  --border: 0.5px solid black;
  --border-blue: 0.5px solid blue;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font);
  font-size: var(--size-sm);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: antialiased;
  background-color: snow;
  margin: 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0;
  width: fit-content;
  padding: var(--site-gutter);
}

.results-container img {
  height: 150px;
  display: block;
}

.results-container img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 1rem;

  color: var(--color);
  border-bottom: var(--border);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

/* Remove default margin and padding for all form elements */
input,
button {
  background: none;
  line-height: normal;
}

/* Ensure that input fields and buttons have consistent box-sizing */
input,
button {
  box-sizing: border-box;
}

/* Additional styling for input and button elements */
input[type='text'],
input[type='number'],
button {
  font-family: var(--font);
  font-size: var(--size-sm);
  padding-block: 0px;
  padding-inline: 0px;
}

/* Specific styling for the button */
#searchButton,
#clear,
#capture-button {
  color: var(--color);
  font-weight: var(--font-weight);
  background-color: #ededed;
  /* border: var(--border);
  border-radius: 0.5rem; */
  border: 0;
  font-family: var(--font);
  font-size: var(--size-sm);
  padding: 1rem;
}

#searchButton:hover,
#clear:hover,
#capture-button:hover {
  background-color: black;
  cursor: pointer;
  color: snow;
}

/* Specific styling for the imageNumber input */
#search,
#imageNumber {
  border: 0;
  padding: 0.5rem;
  background-color: snow;
  /* border: var(--border-blue); */
}

#search:hover,
#imageNumber:hover {
  background-color: #ededed;
}

input::placeholder {
  font-weight: 500;
  font-style: italic;
  color: rgb(165, 165, 165);
}

/* #arenaLinkName {
  border: 2px solid blue;
  padding: 1rem;
} */
/* input[type='text']:focus {
  outline: 2px dashed lightgray; /* oranges! yey */
